<html>

	<head>
		<title>Luiza's blog</title>
	</head>

	<body>

		<div>
			<h1><a href="/">Django Girls Blog</a></h1>
		</div>

		{% for post in posts %}
			<div>
				<p>Publicado em: {{ post.published_date }} </p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			<!-- {{ post }} -->
		{% endfor %}
		<!-- {{ posts }} -->
		<!-- <div>
			<p>publicado: 07.06.2019, 11:34</p>
			<h2><a href="">Agora vai.</a></h2>
			<p>Hi there!</p>
			<p>It <em>works</em>!!!!!</p>
		</div>

		<div>
			<p>publicado: 07.06.2019, 11:35</p>
			<h2><a href="">Agora vai de novo.</a></h2>
			<p>Hola!</p>
			<p>It <strong> really works</strong>!!!!!</p>
		</div> -->

	</body>
</html>